<div class="bg-black w-full  rounded-2xl">
    <div class=" flex justify-around">
        <div class="p-10 w-1/2">
            <img class="w-full rounded-2xl" src="Home-Grownd.jpg" alt="">
        </div>
        <div class="p-10 w-1/2 ">
            <h2 class="text-[#E9AF00] text-3xl w-full text-center mb-5"> Homegrizzi Boys </h2>
            <p class="text-[white] text-justify">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas enim eos voluptatem soluta culpa voluptatum unde, recusandae, eius numquam minima, in velit ea minus. Officiis molestiae labore repudiandae praesentium odio. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quidem doloremque provident beatae totam asperiores, odit accusantium quis nam architecto at fuga qui eius dolore officiis, eos voluptatibus doloribus veniam possimus. Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum dolores accusamus fugit dolorum minus. 
            </p>
        </div>
    </div>
    <div class="flex w-full justify-center">
        <button class="border border-[#E9AF00] mb-5 w-1/4 text-2xl p-2 rounded-xl text-[#E9AF00]">
            <a href="https://open.spotify.com/intl-es/track/57IuCyRE5czPizBtvrExZn?si=ce67f264978441fd">Reproducir</a></button>
    </div>
</div>