<div class=" w-full bg-black flex flex-col items-center p-10 justify-between text-white">
    <span>
        &copy;Homegrown Mafia entertainment Finest Gang
    </span><br>
    <span>
        una noche llena de versos y mucho flow: Alemán, La Banda Bastön, La Plebada, Fntxy, Yoga Fire, Dee y Phul King Fu
    </span><br>
    <span>
        Siguenos en nuestras redes:
    </span><br>
    <div class="flex w-full justify-center gap-10">
        <img class="rounded-full w-10" src="Facebook.png" alt="">
        <img class="rounded-full w-10" src="Instagram.jpeg" alt="">
        <img class="rounded-full w-10" src="tiktok.jpeg" alt="">
    </div>
</div>